.container {
	width: calc(100% - 80rpx);
	padding: 0 40rpx 60px;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.85);
	backdrop-filter: blur(20px);
}

.navbar .navbar-item {
	width: 100%;
	height: 44px;
}

.navbar-item .back-box {
	width: 44px;
	height: 44px;
	justify-content: center;
}

.navbar-item .back-box image {
	width: 40rpx;
	height: 40rpx;
}

.title-box {
	padding: 20rpx 0;
	font-size: 40rpx;
	font-weight: bold;
}

.avatar-box {
	margin: 20rpx 0 0;
	width: 240rpx;
	height: 240rpx;
	padding: 0 !important;
	justify-content: center;
	background: none;
	position: relative;
}

.avatar-box .avatar-item {
	width: 240rpx;
	height: 240rpx;
	border-radius: 50%;
	background: #f5f5f5;
}

.avatar-box .camera-icon {
	position: absolute;
	right: 10rpx;
	bottom: 10rpx;
	width: 60rpx;
	height: 60rpx;
	border-radius: 50%;
}

.title-label {
	padding: 40rpx 0 20rpx;
	color: #999;
	font-size: 26rpx;
	font-weight: bold;
}

.title-label image {
	margin-left: 10rpx;
	width: 26rpx;
	height: 26rpx;
}

.w50 {
	width: calc(50% - 15rpx) !important;
}

.sp {
	justify-content: space-between;
}

.age {
	width: calc(50% - 75rpx) !important;
}

.gender-box .active-1 {
	border-color: #FA5150 !important;
	background: #FA515030;
}

.gender-box .active-2 {
	border-color: #5de700 !important;
	background: #5de70030;
}

.gender-box .gender-item {
	width: calc(50% - 15rpx);
	height: 100rpx;
	border-radius: 30rpx;
	border-width: 4rpx;
	border-style: solid;
	border-color: #f5f5f5;
	justify-content: center;
}

.gender-box .gender-item image {
	width: 40rpx;
	height: 40rpx;
}

.input-box {
	width: calc(100% - 68rpx);
	padding: 0 30rpx;
	height: 100rpx;
	line-height: 100rpx;
	color: #000;
	font-size: 32rpx;
	font-weight: bold;
	border: 4rpx solid #f5f5f5;
	border-radius: 30rpx;
	justify-content: space-between;
}

.input-box .pup {
	width: 32rpx;
	height: 32rpx;
	transform: rotate(180deg);
}

.textarea-box {
	width: calc(100% - 68rpx);
	padding: 20rpx 30rpx;
	min-height: 100rpx;
	line-height: 52rpx;
	color: #000;
	font-size: 32rpx;
	font-weight: bold;
	border: 4rpx solid #f5f5f5;
	border-radius: 30rpx;
}

.age-popup {
	width: calc(100% - 80rpx);
	padding: 40rpx;
	background: #fff;
	border-radius: 40rpx 40rpx 0 0;
	position: relative;
}

.age-popup .age-box {
	display: flex;
	flex-wrap: wrap;
}

.age-box .age-item {
	margin: 15rpx;
	padding: 0 40rpx;
	height: 90rpx;
	line-height: 90rpx;
	color: #000;
	background: #f5f5f5;
	font-size: 24rpx;
	font-weight: bold;
	border-radius: 50rpx;
}

.age-box .active {
	color: #fff;
	background: #000;
}

.age-popup .age-btn {
	margin: 40rpx 15rpx;
	width: calc(100% - 30rpx);
	justify-content: space-between;
}

.age-popup .age-btn view {
	width: calc(50% - 15rpx);
	height: 90rpx;
	line-height: 90rpx;
	text-align: center;
	font-size: 24rpx;
	font-weight: bold;
	border-radius: 12rpx;
}

.age-popup .age-btn .btn1 {
	color: #000;
	border: 2rpx solid #f5f5f5;
}

.age-popup .age-btn .btn2 {
	color: #4cd964;
	background: #000;
	border: 2rpx solid #000;
}

.ip-btn {
	width: 90rpx;
	height: 100rpx;
	font-size: 24rpx;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	background: #fff;
}

.ip-btn image {
	width: 38rpx;
	height: 38rpx;
}