body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    padding: 0 120px;
    height: 100vh;
    display: flex;

}


.header {}

.brand {}

.card {
    width: 50%;
    max-height: 700px;
    overflow-y: auto;
    margin: auto;
    background: #fff;
    border: 1px solid #f4f4f4;
    padding: 15px;
    border-radius: 8px;

}


.brand .logo {
    width: 50px;
    height: 50px;
}

.title {
    margin: 30px 0;
}

.agreement-container div::-webkit-scrollbar {
    width: 0;
}

.center-body {
    display: flex;
    justify-content: center;
}

.btn-box {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    min-width: 148px;
    height: 36px;
    border-radius: 4px;
    background: #274ea1;
    color: #fff;
    margin-right: 30px;
}

.form {}

.form-item {
    margin-bottom: 15px;
}

.form-label {
    margin: 20px 0;
}

.form-input {
    height: 30px;
    border-radius: 4px;
    min-width: 200px;
    margin: 10px 0;
    border: 1px solid #999;
    width:100%;
}

.form-tip {
    color: #999;
    font-size: 15px;
}

table,
th,
td {
    border: 1px solid silver;
    text-align: center;
}

table {
    width: 100%;
}

table {
    caption-side: top;
}

.full-w{
    width: 100%;
}